<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MimikyuBoat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MimikyuBoat.Properties.Settings>
            <setting name="PLAYER_CONFIGURATION_AREA" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="TARGET_CONFIGURATION_AREA" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="PLAYER_NICKNAME" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER_CP_ZONE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER_HP_ZONE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER_MP_ZONE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TARGET_HP_ZONE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER_CP_BARSTART" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER_HP_BARSTART" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER_MP_BARSTART" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TARGET_HP_BARSTART" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AUTO_POT_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AUTO_POT_PERCENTAGE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RECOVER_MP_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MP_SIT_PERCENTAGE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MP_STAND_PERCENTAGE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ALWAYS_ON_TOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AUTO_ATTACK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USE_NEXT_TARGET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BOT_PAUSE_CP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_INTERVAL" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PLAYER_HP_BARSTART_INITIALIZED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PLAYER_CP_BARSTART_INITIALIZED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PLAYER_MP_BARSTART_INITIALIZED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TARGET_HP_BARSTART_INITIALIZED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KYU_FILE_PATH" serializeAs="String">
                <value>""</value>
            </setting>
        </MimikyuBoat.Properties.Settings>
    </userSettings>
</configuration>